@import "../../../../styles/variables/colours";


.badge-mealplan {
  background: #FF9F88;
}

.badge-course {
  background: #9CF0FF;
}

.badge-active {
  background: $primary-neon;
}

.badge-inactive {
  background: $light-bg-grey-darker;
  color: white;
}

.badge {
  padding: 4px 12px;
  color: #181A1D;
  font-weight: 400;
}

.kliq-promotions-table__wrapper {
  background: #fff;
  padding: 20px;
}

::ng-deep table.mat-mdc-table {
  width: 100%;

* {
  font-family: 'Sora', sans-serif;
}


  thead tr:first-child th:first-child {
    border-top-left-radius: 12px;
  }

  thead tr:first-child th:last-child {
    border-top-right-radius: 12px;
  }
 thead {
   background-color: $charcoal-grey;

   tr {
     color: white;
   }
 }
}

.loader-wrapper {
  display: flex;
  justify-content: center;
}

.loader {
  width: 48px;
  height: 48px;
  border: 3px solid #FFF;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-bottom-color: $primary-neon;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
